/* Global */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
}

body {
    margin: 0px;
    padding: 70px 0px 0px 0px;
}

@media (min-width: 992px) {
    body {
        padding: 100px 0px 0px 0px;
    }
}

b {
    font-weight: 400;
}



/* Header */

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px 0px #ccc;
    background-color: #fff;
    z-index: 10;
}

@media (min-width: 992px) {
    .header {
        height: 100px;
    }
}

.header-container {
    height: 100%;
    position: relative;
    background-color: #fff;
}


@media (min-width: 1200px) {
    .header-container {
        max-width: 1200px;
        margin: 0px auto;
    }
}

.header .header__logo {
    height: 100%;
    padding: 5px 20px;
    display: inline-block;
}

@media (min-width: 992px) {
    .header .header__logo {
        padding: 10px 30px;
    }
}

.header .header__logo img {
    height: 100%;
}

.header .header__button {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

@media (min-width: 992px) {
    .header .header__button {
        width: 110px;
        cursor: pointer;
    }
}

.header .header__button.rotate {
    transform: rotate(-180deg);
}

.header .header__button .button__open {
    padding: 15px 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translatey(-50%);
    transition: opacity 0.3s ease;
}

.header .header__button .button__open.hide {
    opacity: 0;
}

@media (min-width: 992px) {
    .header .header__button .button__open {
        padding: 25px 30px;
    }
}

.header .header__button .button__open > div {
    background-color: #000;
    width: 100%;
    height: 3px;
    margin: 6px 0px;
}

@media (min-width: 992px) {
    .header .header__button .button__open > div {
        margin: 8px 0px;
    }
}

.header .header__button .button__close {
    padding: 15px 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translatey(-50%);
    transition: opacity 0.3s ease;
}

@media (min-width: 992px) {
    .header .header__button .button__close {
        padding: 25px 30px;
    }
}

.header .header__button .button__close.hide {
    opacity: 0;
}

.header .header__button .button__close > div {
    background-color: #000;
    width: 100%;
    height: 3px;
}

.header .header__button .button__close > div:first-of-type {
    transform: rotate(40deg);
}

.header .header__button .button__close > div:last-of-type {
    transform: rotate(-40deg);
    margin: -3px 0px 0px 0px;
}

.header .header__menu {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -95px;
    right: 0px;
    padding: 10px 30px 10px 25px;
    text-align: right;
    transition: top 0.3s ease;
    z-index: -1;
}

@media (min-width: 992px) {
    .header .header__menu {
        top: -150px;
        padding: 20px 50px 20px 45px;
    }
}

@media (min-width: 1200px) {
    .header .header__menu {
        padding: 20px 50px 20px 50px;
    }
}

.header .header__menu.slide {
    top: 70px;
}

@media (min-width: 992px) {
    .header .header__menu.slide {
        top: 100px;
    }
}

.header .header__menu a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0px;
}

@media (min-width: 992px) {
    .header .header__menu a {
        font-size: 18px;
        padding: 10px 0px;
    }
}



/* Header banner */

.header-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (min-width: 992px) {
    .header-banner {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .header-banner {
        height: 350px;
    }
}

.header-banner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.55;
    z-index: 0;
}

.header-banner .header-banner__container {
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (min-width: 992px) {
    .header-banner .header-banner__container {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .header-banner .header-banner__container {
        max-width: 1200px;
        margin: 0px auto;
    }
}

.header-banner .header-banner__title {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

@media (min-width: 992px) {
    .header-banner .header-banner__title {
        font-size: 46px;
    }
}

@media (min-width: 1200px) {
    .header-banner .header-banner__title {
        font-size: 56px;
    }
}



/* Page description */

.page-description {
    text-align: center;
    padding: 60px 0px;
}

@media (min-width: 992px) {
    .page-description {
        padding: 80px 0px;
    }
}

@media (min-width: 992px) {
    .page-description {
        padding: 120px 0px;
    }
}

.page-description .page-description__text {
    font-size: 18px;
    margin: 0px;
}

@media (min-width: 992px) {
    .page-description .page-description__text {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .page-description .page-description__text {
        font-size: 24px;
    }
}



/* Tiles */

.tiles {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 75px 0px;
}

@media (min-width: 768px) {
    .tiles {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 0px 100px 0px;
    }
}

@media (min-width: 1200px) {
    .tiles {
        margin: 0px -30px;
    }
}

.tiles .single-tile {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 15px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #ccc;
}

@media (min-width: 768px) {
    .tiles .single-tile {
        width: calc(50% - 15px);
    }

    .tiles .single-tile:nth-of-type(odd) {
        margin: 15px 15px 15px 0px;
    }

    .tiles .single-tile:nth-of-type(even) {
        margin: 15px 0px 15px 15px;
    }
}

@media (min-width: 992px) {
    .tiles .single-tile {
        height: 200px;
        transition: box-shadow 0.3s ease;
        width: calc(50% - 20px);
    }

    .tiles .single-tile:nth-of-type(odd) {
        margin: 20px 20px 20px 0px;
    }

    .tiles .single-tile:nth-of-type(even) {
        margin: 20px 0px 20px 20px;
    }

    .tiles .single-tile:hover {
        box-shadow: 0px 0px 30px 0px #ccc;
    }
}

@media (min-width: 1200px) {
    .tiles .single-tile {
        height: 240px;
        width: calc(25% - 60px);
    }

    .tiles .single-tile:nth-of-type(odd),
    .tiles .single-tile:nth-of-type(even) {
        margin: 30px;
    }
}

.tiles .single-tile .single-tile__text {
    font-size: 18px;
}

@media (min-width: 992px) {
    .tiles .single-tile .single-tile__text {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .tiles .single-tile .single-tile__text {
        font-size: 22px;
    }
}



/* Text */

.text {
    padding: 30px 0px;
    font-size: 15px;
}

.text.text--centered {
    text-align: center;
    padding: 0px 0px 100px 0px;
}

@media (min-width: 992px) {
    .text {
        padding: 0px 0px 30px 0px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .text {
        font-size: 18px;
    }

    .text a {
        transition: color 0.3s ease;
    }

    .text a:hover {
        color: #ccc;
    }
}



/* Image */

.image {
    padding: 50px 0px;
}

@media (min-width: 768px) {
    .image {
        padding: 50px 0px 100px 0px;
    }
}

@media (min-width: 992px) {
    .image {
        padding: 100px 0px;
    }
}

@media (min-width: 1200px) {
    .image {
        padding: 100px 0px 150px 0px;
    }
}

.image img {
    max-width: 100%;
    margin: 0px auto;
}



/* Services */

.services {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 75px 0px;
}

@media (min-width: 768px) {
    .services {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 0px 100px 0px;
    }
}

@media (min-width: 1200px) {
    .services {
        margin: 0px -30px;
    }
}

.services .single-service {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 15px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #ccc;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .services .single-service {
        width: calc(50% - 15px);
    }

    .services .single-service:nth-of-type(odd) {
        margin: 15px 15px 15px 0px;
    }

    .services .single-service:nth-of-type(even) {
        margin: 15px 0px 15px 15px;
    }
}

@media (min-width: 992px) {
    .services .single-service {
        height: 200px;
        transition: box-shadow 0.3s ease;
        width: calc(50% - 20px);
        font-size: 20px;
        padding: 30px;
    }

    .services .single-service:nth-of-type(odd) {
        margin: 20px 20px 20px 0px;
    }

    .services .single-service:nth-of-type(even) {
        margin: 20px 0px 20px 20px;
    }
}

@media (min-width: 1200px) {
    .services .single-service {
        height: 240px;
        width: calc(25% - 60px);
        font-size: 22px;
    }

    .services .single-service:nth-of-type(odd),
    .services .single-service:nth-of-type(even) {
        margin: 30px;
    }
}



/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 60px 0px;
}

@media (min-width: 768px) {
    .projects {
        padding: 30px 0px 60px 0px;
    }
}

@media (min-width: 992px) {
    .projects {
        padding: 0px 0px 60px 0px;
    }
}

.projects .single-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 0px;
}

@media (min-width: 992px) {
    .projects .single-project {
        flex-direction: row;
        align-items: center;
    }

    .projects .single-project:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}

.projects .single-project .project-description {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .projects .single-project .project-description {
        padding: 0px 0px 0px 30px;
    }

    .projects .single-project:nth-of-type(even) .project-description {
        padding: 0px 30px 0px 0px;
        text-align: right;
    }
}

.projects .single-project .project-description .project-title {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0px;
}

@media (min-width: 768px) {
    .projects .single-project .project-description .project-title {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .projects .single-project .project-description .project-title {
        padding: 0px 0px 20px 0px;
    }
}

@media (min-width: 1200px) {
    .projects .single-project .project-description .project-title {
        font-size: 20px;
    }
}

.projects .single-project .project-description .project-text {
    font-size: 15px;
}

@media (min-width: 768px) {
    .projects .single-project .project-description .project-text {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .projects .single-project .project-description .project-text {
        font-size: 18px;
    }
}

.projects .single-project .project-image {
    width: 100%;
}

@media (min-width: 992px) {
    .projects .single-project .project-image {
        min-width: 50%;
        max-width: 50%;
    }
}

.projects .single-project .project-image img {
    max-width: 100%;
}



/* Contact- info */

.contact-info {
    padding: 20px 0px;
}

.contact-info__text {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .contact-info__text {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .contact-info__text {
        justify-content: space-evenly;
    }
}

.contact-info__text span {
    padding: 10px 0px;
    font-size: 15px;
}

@media (min-width: 992px) {
    .contact-info__text span {
        font-size: 16px;
    }
}


.contact-info__map {
    padding: 80px 0px 80px 0px;
}

@media (min-width: 768px) {
    .contact-info__map {
        padding: 50px 0px 80px 0px;
    }
}

@media (min-width: 1200px) {
    .contact-info__map {
        padding: 100px 0px 100px 0px;
    }
}



/* Footer */

.footer {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #ccc;
    background-color: #fff;
}

.footer .footer__container {
    padding: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .footer .footer__container {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .footer .footer__container {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .footer .footer__container {
        max-width: 1200px;
        margin: 0px auto;
    }
}

.footer .footer__top-part,
.footer .footer__bottom-part {
    font-size: 14px;
    padding: 5px 0px;
}

@media (min-width: 992px) {
    .footer .footer__top-part,
    .footer .footer__bottom-part {
        font-size: 15px;
    }
}



/* Page content */

.page-content {
    padding: 0px 20px;
}

@media (min-width: 992px) {
    .page-content {
        padding: 0px 30px;
    }
}

@media (min-width: 1200px) {
    .page-content {
        max-width: 1200px;
        margin: 0px auto;
    }
}



/* cba.pl */

body > div:first-of-type,
body > .cbalink {
    display: none;
}